# Detector: Faster R-CNN
# Backbone CNN: Resnet-101 (v1)
# Dataset Pascal VOC 07+12 trainval / 07 test
# Baseline

model {
  faster_rcnn {
    num_classes: 20
    image_resizer {
      keep_aspect_ratio_resizer {
        min_dimension: 600
        max_dimension: 1024
      }
    }
    feature_extractor {
      trainable: true
      type: 'faster_rcnn_resnet101'
      first_stage_features_stride: 16
      #freeze_layer
      weight_decay:0.0001
    }
    first_stage_anchor_generator {
      grid_anchor_generator {
        scales: [0.25, 0.5, 1.0, 2.0]
        aspect_ratios: [0.5, 1.0, 2.0]
        height_stride: 16
        width_stride: 16
      }
    }
    first_stage_box_predictor_trainable: true
    first_stage_box_predictor_conv_hyperparams {
      op: CONV
      regularizer {
        l2_regularizer {
          weight: 0.0001
        }
      }
      initializer {
        truncated_normal_initializer {
          stddev: 0.01
        }
      }
    }

    first_stage_positive_balance_fraction: 0.5
    second_stage_balance_fraction: 0.25
    first_stage_nms_score_threshold: 0.0
    first_stage_nms_iou_threshold: 0.7
    first_stage_max_proposals: 300
    first_stage_minibatch_size: 256
    second_stage_batch_size: 256
    first_stage_localization_loss_weight: 2.0
    first_stage_objectness_loss_weight: 1.0
    initial_crop_size: 7
    maxpool_kernel_size: 1
    maxpool_stride: 1
    second_stage_box_predictor {
      trainable: true
      mask_rcnn_box_predictor {
        spatial_average: true
        use_dropout: false
        dropout_keep_probability: 1.0
        fc_hyperparams {
          op: FC
          regularizer {
            l2_regularizer {
              weight: 0.0001
            }
          }
          initializer {
            truncated_normal_initializer {
              stddev: 0.01
            }
          }
        }
      }
    }
    second_stage_post_processing {
      batch_non_max_suppression {
        score_threshold: 0.0
        iou_threshold: 0.4
        max_detections_per_class: 100
        max_total_detections: 300
      }
      score_converter: SOFTMAX
    }
    second_stage_localization_loss_weight: 2.0
    second_stage_classification_loss_weight: 1.0
  }
}

train_config: {
  batch_size: 1
  optimizer {
    momentum_optimizer: {
      learning_rate: {
        manual_step_learning_rate {
          initial_learning_rate: .001
          schedule {
            step: 170000
            learning_rate: .0001
          }
          schedule {
            step: 280000
            learning_rate: .00001
          }
          schedule {
            step: 310000
            learning_rate: .000001
          }
        }
      }
      momentum_optimizer_value: 0.9
    }
    use_moving_average: false
  }
  gradient_clipping_by_norm: 10.0
  fine_tune_checkpoint: "../checkpoints/detection_model_zoo/resnet_v1_101.ckpt"
  from_detection_checkpoint: false
  restore_box_predictor: false
  data_augmentation_options {
    random_horizontal_flip {
    }
  }
  save_interval_secs: 600
}

train_input_reader: {
  tf_record_input_reader {
    input_path: "../data/voc/voc0712_trainval.record"
  }
  label_map_path: "../data/pascal_label_map.pbtxt"
}

eval_config: {
  submission_format_output: false
  calc_loss: false
  num_visualizations: 10
  num_examples: 50000
  eval_interval_secs: 120
}

eval_input_reader: {
  tf_record_input_reader {
    input_path: "../data/voc/voc2007_test.record"
  }
  label_map_path: "../data/pascal_label_map.pbtxt"
  shuffle: false
  num_readers: 1
}
